* {
    padding: 0;
    margin: 0;
}

:root {
    /* cores */
    --bk-cor: #273037;
    --cor-primaria: #456783;
    --cor-secundaria: #949494;
    --light: #C4C4C4;
    --nav-cor: #E0E0E1;

    /* font-body */

    --h1-font: 'Roboto', sans-serif;
    --sub-font: 'Roboto Serif', serif;
    --noticia-font: 'Roboto Flex', sans-serif;

    /* font-weihgt */

    --font-bold: 400;
    --font-semi-bold: 600;

    /* border radius */
    --border: 1rem;
}

/* ============== BODY ============== */

body {
    background-color: var(--bk-cor);
    overflow-x: hidden;
}

/* imagem background */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/plano_fundo_bolinhas.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

/* .img {
    max-width: 100%;
    border-radius: var(--border);
    vertical-align: middle;
    object-fit: cover;
    z-index: -100;
} */

/* ============== REUTILIZAVEIS ============== */
.padd {
    padding: 0.700rem;
}

.container {
    max-width: 80%;
    margin: auto;
    /* background-color: red; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section {
    margin-top: 5rem;
}

.section .container {
    padding-top: 3.90rem;
    padding-bottom: 4.75rem;
}

.section-title {
    font-family: var(--sub-font);
    font-size: 1.5rem;
    color: var(--nav-cor);
}

/* ============== NAVBAR ============== */


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--nav-cor);
    height: 15vh;
    width: 100%;
    margin-top: 2vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 55rem;
    border-bottom: 2px solid var(--nav-cor);
    max-width: 100%;
}

.white-image {
    filter: brightness(0) invert(1);
}

.nav ul {
    display: flex;
    list-style-type: none;
    max-width: 100%;
}

.nav ul li {
    margin-right: 5vw;
    font-size: 1.5rem;
    font-family: var(--sub-font);
}

.logo img {
    max-width: 200px;
}

/* ============== NOTICIA PRICIPAL ============== */
.intro {
    justify-content: space-between; 
}

.noticiaPrincipal {
    width: 50vw;
    height: 40vh;
}

.principal {
    width: 100%;
    height: 23rem;
    border-radius: var(--border);
    background-image: url('../img/oscarImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.textoPrincipal {

    height: 20rem;
    color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    font-family: var(--h1-font);
    font-weight: 600;
    font-size: clamp(8px, 2vw, 1rem);
}
.textoPrincipal h1{
    margin-top: 15rem;
}
.textoPrincipal p {
    font-weight: 100;
}

/* ============== NOTICIA LADO ============== */
.caixaTextoLado {
    background-color: var(--cor-primaria);
    width: 17.5rem;
    border-radius: var(--border);
    color: #f8f8f8;
    font-family: var(--noticia-font);
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 10px 10px #d9d9d9;
}

.textoLado p {
    margin-top: 20px;
    text-align: justify;
    border-top: solid 2px var(--light);
    padding-top: 10px;
}

.noticiasDiv {
    height: 50rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

.noticiasItem {
    /* background-color: red; */
    width: 15rem;
    height: 18rem;
    margin-top: 1rem;
}

.noticia-thumb {
    width: 100%;
    height: 10rem;
    border-radius: var(--border);
    box-shadow: 10px 10px var(--cor-primaria);
    margin-bottom: 1rem;
}

.noticia-thumb img {
    border-radius: var(--border);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.noticiasCaixa{
    font-family: var(--noticia-font);
    color: var(--nav-cor);
}
.noticiasCaixa p{
    font-size: 0.900rem;
    margin-top: 0.5rem;
}
.pk{
    font-weight: 100;
    font-size: 0.700rem;
    text-align: center;
}


/* Para larguras de tela menores que 800px */
@media screen and (max-width: 1120px){
    .intro{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }
    .caixaTextoLado{
        width: 100%;
    }
    .principal{
        z-index: 100;
        /* width: 100%; */
        
    }
}   
@media screen and (max-width: 800px) {
    .container {
        max-width: 90%;
    }
    .navBar {
        height: 20vh;
    }
    .nav ul li {
        margin-right: 3vw;
        font-size: 20px;
    }
    .logo img {
        max-width: 150px;
    }
    .caixaTextoLado {
        width: 100%;
    }
    .section-title {
        font-size: 1.3rem;
    }
    .noticia-thumb {
        height: 8rem;
    }
    .noticiasItem {
        width: 14rem;
    }
}